In [246]:
# imports
import pandas as pd
import numpy as np
import random
import openai 
import ast
from textblob import TextBlob

In [248]:
behaviors = pd.read_csv("MIND/behaviors_testdataset.csv", sep=';', header=None)
behaviors.columns =['User', 'Time', 'ID', 'Impressions'] 
behaviors = behaviors.drop(['Time'], axis=1)
behaviors.head()

,User,ID,Impressions
0,U13000,N42782 N18445 N49749,N7482-1 N6379-0
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,N1145-1 N34930-1 N53526-0 N3574-0 N751-0 N2202...
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,N4303-1 N58730-0 N64130-0 N38064-0 N49210-0 N92-0
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
4,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...

In [249]:
news = pd.read_csv("MIND/news_testdataset.csv") 
news.head()

,ID,Category,SubCategory,Content
0,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...
1,N9721,health,nutrition,"50 Foods You Should Never Eat, According to He..."
2,N39758,health,nutrition,25 Biggest Grocery Store Mistakes Making You G...
3,N3574,autos,autosnews,Ford Bronco Test Mule Spotted Flexing Its Musc...
4,N42474,news,newsbusiness,Trump's Trustbusters Bring Microsoft Lessons t...

In [250]:
def get_user_related_content(user):
    user_row = behaviors[behaviors['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['ID'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        id_row = news[news['ID'] == user_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((user_id, content))
    
    return result

In [252]:
def get_random_news(n):
    random_news = random.sample(list(news.itertuples(index=False, name=None)), n)
    return [(news[0], news[3]) for news in random_news]

For Impressions

In [254]:
behaviors = pd.read_csv("MIND/behaviors_testdataset.csv", sep=';', header=None)
behaviors.columns =['User', 'Time', 'Read', 'ID'] 
behaviors = behaviors.drop(['Time'], axis=1)
behaviors.head()

,User,Read,ID
0,U13000,N42782 N18445 N49749,N7482-1 N6379-0
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,N1145-1 N34930-1 N53526-0 N3574-0 N751-0 N2202...
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,N4303-1 N58730-0 N64130-0 N38064-0 N49210-0 N92-0
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
4,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...

In [255]:
def clean_id(id_value):
    # Remove index part ("-1" or "-0")
    return id_value.rstrip('01').rstrip('-')

def get_user_related_content(user):
    user_row = behaviors[behaviors['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['ID'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        cleaned_id = clean_id(user_id)
        id_row = news[news['ID'] == cleaned_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((cleaned_id, content))
    
    return result

In [256]:
output_interactions = get_user_related_content(user_input)

if output_interactions:
    #print(f"User: {user_input}", end=" ")
    for user_id, content in output_interactions:
        print(f"[{user_id}: {content}]", end=" ")
else:
    print(f"No data found for user {user_input}")

[N7482: St. Dominic soccer player tries to kick cancer to the curb Sometimes, what happens on the sidelines can be even more important than what happens on the field. That was the case recently for the improving St. Dominic boys soccer team. "We're led by some great seniors and they're learning a lot," said head soccer coach Greg Koeller. Since 2000, the Crusaders have won five state titles. And if that wasn't enough motivation, they have players who provide inspiration. Like No. 2, Clay North. "Clay is just an...] [N6379: California cops respond to 2 homeless men shot with arrows: report Two homeless men living at an encampment near San Francisco were shot with arrows early Sunday in an attack that was not random, a report said.]

Testing with ChatGPT

In [300]:
# Set your OpenAI API key
openai.api_key = "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"

In [301]:

# Function to chat with GPT
def chat_with_chatgpt(prompt, model="gpt-3.5-turbo"):
    response = openai.ChatCompletion.create(
        model=model,
        messages=[
            {"role": "system", "content": "You are a helpful assistant."},
            {"role": "user", "content": prompt},
        ],
    )
    message = response['choices'][0]['message']['content'].strip()
    return message

In [302]:
def gpt_task2 (user, n_news):
    user_output = get_user_related_content(user)
    random_news = get_random_news (n_news)
    formatted_random_news = [f'{item[0]}: {item[1]}' for item in random_news]
    formatted_user_output = [f'{item[0]}: {item[1]}' for item in user_output]
    user_prompt = (f"The user has interacted with the following items (in no particular order): {formatted_user_output}. Please recommend any five out of {n_news} items from the list: {formatted_random_news} that the user might interact with. Output format: a python list with news index (e.g., N12345). Do not explain the reason or include any other words.")
    chatbot_response = chat_with_chatgpt(user_prompt)
    # Remove leading and trailing whitespaces and newline characters
    cleaned_string = chatbot_response.strip()

    # Use ast.literal_eval to safely evaluate the string as a literal expression
    result_list = ast.literal_eval(cleaned_string)
    print(formatted_user_output)
    return result_list

In [303]:
user_input = 'U13000'
n_news = 15

In [304]:
gpt_task2(user_input, n_news)

["N42782: Three takeaways from Yankees' ALCS Game 5 victory over the Astros The Yankees kept hope alive thanks to some impressive starting pitching and a pair of early home runs.", 'N18445: Michigan sends breakup tweet to Notre Dame as series goes on hold Parting is such sweet sorrow, say the Wolverines.', "N49749: 'Unbelievable.' Chiefs fans stunned, mad after loss to the Titans What the heck happened? The Chiefs were lining up for a field goal that would have given them and eight-point lead late in Sunday's game against the Tennessee Titans in Nashville. The snap came before holder Dustin Colquitt was ready and he threw the ball away. Colquitt was called for intentional grounding and the Titans took over. They drove down the field for a touchdown, two-point ..."]

['N36353', 'N28257', 'N22816', 'N19041', 'N459']

Evaluation

In [305]:
behaviors = pd.read_csv("sentiment_counted.csv")
behaviors.head()

,User,ID,Negative,Positive,Neutral
0,U13000,N42782 N18445 N49749,1,2,0
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,2,3,1
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,1,5,1
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,1,8,0
4,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,33,36,13

In [306]:
# Function to perform sentiment analysis using TextBlob
def analyze_sentiment(text):
    analysis = TextBlob(text)
    # Classify the polarity as positive, negative, or neutral
    if analysis.sentiment.polarity > 0:
        return 'Positive'
    elif analysis.sentiment.polarity < 0:
        return 'Negative'
    else:
        return 'Neutral'

# Apply the sentiment analysis function to the specified column
news['Sentiment'] = news['Content'].apply(analyze_sentiment)

# Display the DataFrame with the new sentiment analysis column
news.head()

,ID,Category,SubCategory,Content,Sentiment
0,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,Neutral
1,N9721,health,nutrition,"50 Foods You Should Never Eat, According to He...",Negative
2,N39758,health,nutrition,25 Biggest Grocery Store Mistakes Making You G...,Negative
3,N3574,autos,autosnews,Ford Bronco Test Mule Spotted Flexing Its Musc...,Negative
4,N42474,news,newsbusiness,Trump's Trustbusters Bring Microsoft Lessons t...,Neutral

In [329]:
df_news = news
df_behaviors = new_df = behaviors.head(3)

In [330]:
def add_sentiment_counts(df_behaviors, df_news):
    # Create new columns for Neutral, Negative, and Positive counts
    df_behaviors['Neutral_recommended'] = 0
    df_behaviors['Negative_recommended'] = 0
    df_behaviors['Positive_recommended'] = 0

    # Iterate through each user in df_behaviors
    for user in df_behaviors['User']:
        # Get the recommended news for the user using gpt_task2
        recommended_news = gpt_task2(user, 15)

        # Fetch sentiments for the recommended news from df_news
        recommended_sentiments = df_news[df_news['ID'].isin(recommended_news)]['Sentiment']

        # Count the occurrences of each sentiment and update the corresponding columns using .loc
        sentiment_counts = recommended_sentiments.value_counts()
        df_behaviors.loc[df_behaviors['User'] == user, 'Neutral_recommended'] = sentiment_counts.get('Neutral', 0)
        df_behaviors.loc[df_behaviors['User'] == user, 'Negative_recommended'] = sentiment_counts.get('Negative', 0)
        df_behaviors.loc[df_behaviors['User'] == user, 'Positive_recommended'] = sentiment_counts.get('Positive', 0)

    return df_behaviors

In [331]:
# Call the function to update df_behaviors with sentiment counts
df_behaviors = add_sentiment_counts(df_behaviors, df_news)

# Display the updated DataFrame
print(df_behaviors)

/var/folders/g9/2c0wblnx7c3cn9jcdv86d_cm0000gn/T/ipykernel_99089/1780211686.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_behaviors['Neutral_recommended'] = 0
/var/folders/g9/2c0wblnx7c3cn9jcdv86d_cm0000gn/T/ipykernel_99089/1780211686.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_behaviors['Negative_recommended'] = 0
/var/folders/g9/2c0wblnx7c3cn9jcdv86d_cm0000gn/T/ipykernel_99089/1780211686.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_behaviors['Positive_recommended'] = 0

["N42782: Three takeaways from Yankees' ALCS Game 5 victory over the Astros The Yankees kept hope alive thanks to some impressive starting pitching and a pair of early home runs.", 'N18445: Michigan sends breakup tweet to Notre Dame as series goes on hold Parting is such sweet sorrow, say the Wolverines.', "N49749: 'Unbelievable.' Chiefs fans stunned, mad after loss to the Titans What the heck happened? The Chiefs were lining up for a field goal that would have given them and eight-point lead late in Sunday's game against the Tennessee Titans in Nashville. The snap came before holder Dustin Colquitt was ready and he threw the ball away. Colquitt was called for intentional grounding and the Titans took over. They drove down the field for a touchdown, two-point ..."]

/Users/krisbara/Library/Python/3.10/lib/python/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

["N61358: 5 Foods That Can Actually Help Prevent Gray Hair Don't say goodbye to your natural color just yet.", "N64593: An avocado a day could lower your 'bad' cholesterol levels and reduce your risk of heart disease Bad cholesterol means LDL (low-density lipoprotein), and having too much can clot arteries and lead to heart problems.", "N46688: 'Souping': Should you try it? Regularly eating soup is comforting and filling might help you shed some unwanted pounds."]
["N42474: Trump's Trustbusters Bring Microsoft Lessons to Big Tech Fight DOJ's Makan Delrahim and the FTC's Joe Simons have agreed to divide Google, Facebook, Amazon, and Apple between them.", "N41013: Doug Schoen: Hillary vs. Trump in 2020? If Clinton is serious, here's best way for her to defeat the president Even when she is out of the running for president, Hillary Clinton is still one of the most prominent voices in the Democratic Party.", 'N4015: Following Trump\'s endorsement, Spicer has emotional night on \'Dancing With the Star\' It was an emotional night for Sean Spicer on Dancing With the Stars, Monday. President Trump\'s former press secretary dedicated his performance to his father, who passed away in 2016 from pancreatic cancer. "This is an opportunity to pay homage to my father, a great man, a great friend, a great inspiration," said Spicer, ""I\'d like to dedicate this dance to my dad and all the fathers out there suffering from cancer but still being the best dad that they can." The theme of the show was Disney Night and Spicer danced as the character Woody from Toy Story 4. His quickstep was his most well received dance and he earned his first 7 score from the judges. After his performance, Spicer became emotional because Disney Night reminded him of one of his last memories with his father. "It was a great experience to be able to share that whole experience with my kids and my mother and father," said Spicer, "So to know that it was actually the ride that we went on, it was kind of cool."', "N31633: 'ISIS is the biggest beneficiary': Graham lashes out at Trump over Syria withdrawal Sen. Lindsey Graham (R-S.C.) describes President Trump's decision to pull American troops out of Syria as 'out of line' and 'dangerous.'"]
     User                                               ID  Negative  \
0  U13000                             N42782 N18445 N49749         1
1  U14000          N9721 N61358 N11360 N64593 N9900 N46688         2
2  U15000  N42474 N41013 N45970 N4015 N56461 N11161 N31633         1

   Positive  Neutral  Neutral_recommended  Negative_recommended  \
0         2        0                    1                     1
1         3        1                    3                     1
2         5        1                    0                     2

   Positive_recommended
0                     3
1                     1
2                     3

In [332]:
df_behaviors.head()

,User,ID,Negative,Positive,Neutral,Neutral_recommended,Negative_recommended,Positive_recommended
0,U13000,N42782 N18445 N49749,1,2,0,1,1,3
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,2,3,1,3,1,1
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,1,5,1,0,2,3

In [335]:
import pandas as pd
from scipy.stats import pearsonr, spearmanr, kendalltau

# Assume df_combined is your combined dataframe with sentiment columns
# If not, replace df_combined with the actual dataframe variable
# You might want to replace NaN values with 0 if there are missing values

# Extract sentiment columns for correlation analysis
sentiment_cols = ['Negative', 'Positive', 'Neutral']
recommended_cols = ['Negative_recommended', 'Positive_recommended', 'Neutral_recommended']

# Calculate correlation matrix
correlation_matrix = df_behaviors[sentiment_cols + recommended_cols].corr()

# Print correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

# Perform correlation tests
for sentiment_col in sentiment_cols:
    for recommended_col in recommended_cols:
        correlation, p_value = pearsonr(df_behaviors[sentiment_col], df_behaviors[recommended_col])
        print(f"\nCorrelation test between {sentiment_col} and {recommended_col}:")
        print(f"Pearson correlation: {correlation:.4f}")
        print(f"P-value: {p_value:.4f}")

        correlation, p_value = spearmanr(df_behaviors[sentiment_col], df_behaviors[recommended_col])
        print(f"Spearman correlation: {correlation:.4f}")
        print(f"P-value: {p_value:.4f}")

        correlation, p_value = kendalltau(df_behaviors[sentiment_col], df_behaviors[recommended_col])
        print(f"Kendall correlation: {correlation:.4f}")
        print(f"P-value: {p_value:.4f}")

Correlation Matrix:
                      Negative  Positive   Neutral  Negative_recommended  \
Negative              1.000000 -0.188982  0.500000             -0.500000
Positive             -0.188982  1.000000  0.755929              0.944911
Neutral               0.500000  0.755929  1.000000              0.500000
Negative_recommended -0.500000  0.944911  0.500000              1.000000
Positive_recommended -1.000000  0.188982 -0.500000              0.500000
Neutral_recommended   0.944911 -0.500000  0.188982             -0.755929

                      Positive_recommended  Neutral_recommended
Negative                         -1.000000             0.944911
Positive                          0.188982            -0.500000
Neutral                          -0.500000             0.188982
Negative_recommended              0.500000            -0.755929
Positive_recommended              1.000000            -0.944911
Neutral_recommended              -0.944911             1.000000

Correlation test between Negative and Negative_recommended:
Pearson correlation: -0.5000
P-value: 0.6667
Spearman correlation: -0.5000
P-value: 0.6667
Kendall correlation: -0.5000
P-value: 0.4795

Correlation test between Negative and Positive_recommended:
Pearson correlation: -1.0000
P-value: 0.0000
Spearman correlation: -1.0000
P-value: 0.0000
Kendall correlation: -1.0000
P-value: 0.1573

Correlation test between Negative and Neutral_recommended:
Pearson correlation: 0.9449
P-value: 0.2123
Spearman correlation: 0.8660
P-value: 0.3333
Kendall correlation: 0.8165
P-value: 0.2207

Correlation test between Positive and Negative_recommended:
Pearson correlation: 0.9449
P-value: 0.2123
Spearman correlation: 0.8660
P-value: 0.3333
Kendall correlation: 0.8165
P-value: 0.2207

Correlation test between Positive and Positive_recommended:
Pearson correlation: 0.1890
P-value: 0.8790
Spearman correlation: 0.0000
P-value: 1.0000
Kendall correlation: 0.0000
P-value: 1.0000

Correlation test between Positive and Neutral_recommended:
Pearson correlation: -0.5000
P-value: 0.6667
Spearman correlation: -0.5000
P-value: 0.6667
Kendall correlation: -0.3333
P-value: 1.0000

Correlation test between Neutral and Negative_recommended:
Pearson correlation: 0.5000
P-value: 0.6667
Spearman correlation: 0.5000
P-value: 0.6667
Kendall correlation: 0.5000
P-value: 0.4795

Correlation test between Neutral and Positive_recommended:
Pearson correlation: -0.5000
P-value: 0.6667
Spearman correlation: -0.5000
P-value: 0.6667
Kendall correlation: -0.5000
P-value: 0.4795

Correlation test between Neutral and Neutral_recommended:
Pearson correlation: 0.1890
P-value: 0.8790
Spearman correlation: 0.0000
P-value: 1.0000
Kendall correlation: 0.0000
P-value: 1.0000