In [56]:
# imports
import pandas as pd
import pickle
import openai
from typing import List, Dict, Tuple
from tempfile import TemporaryDirectory
import numpy as np
from gensim.models import KeyedVectors
from typing import List

In [79]:
# load data 
interactions = pd.read_csv("MIND/behaviors.tsv", sep='\t', header=None) #document with user interactions
news = pd.read_csv("MIND/news_test.tsv", sep='\t', header=None) #document with news description
del interactions[interactions.columns[0]]
interactions.columns =['User', 'Time', 'ID', 'Impressions']
interactions_100 = interactions.iloc[:1]
interactions_sorted = interactions_100.drop(['Time', 'Impressions'], axis=1)
news.columns =['ID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'Title Entities', 'Abstract Entities']
news['Content'] = news['Title'].fillna('') + ' ' + news['Abstract'].fillna('')
news_sorted = news.drop(['URL', 'Title Entities', 'Abstract Entities', 'Title', 'Abstract'], axis=1)

# print dataframe
n_examples = 5
interactions_sorted.head(n_examples)
#news_sorted.head(n_examples)

     User                    ID
0  U13000  N42782 N18445 N49749

In [80]:
news = pd.read_csv("MIND/news_test.csv", sep=';', header=None) #document with news description
news.columns =['ID', 'Title', 'Abstract']

In [81]:
news

,ID,Title,Abstract
0,N55528,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the..."
1,N19639,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...
2,N61837,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...
3,N53526,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi..."
4,N38324,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re..."
5,N2073,Should NFL be able to fine players for critici...,Several fines came down against NFL players fo...
6,N49186,It's been Orlando's hottest October ever so fa...,There won't be a chill down to your bones this...
7,N59295,Chile: Three die in supermarket fire amid prot...,Three people have died in a supermarket fire a...
8,N55189,"'Wheel Of Fortune' Guest Delivers Hilarious, O...","We'd like to solve the puzzle, Pat: Blair Davi..."
9,N42782,Three takeaways from Yankees' ALCS Game 5 vict...,The Yankees kept hope alive thanks to some imp...
10,N34694,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...,Rosie O'Donnell: Barbara Walters Isn't 'Up to ...
11,N45794,Four flight attendants were arrested in Miami'...,Four American Airlines flight attendants were ...
12,N18445,Michigan sends breakup tweet to Notre Dame as ...,"Parting is such sweet sorrow, say the Wolverines."
13,N63302,This Wedding Photo of a Canine Best Man Captur...,"When Mark Doublet made his dog, Marley, the be..."
14,N10414,"Robert Evans, 'Chinatown' Producer and Paramou...","Robert Evans, the Paramount executive who prod..."
15,N19347,Former US Senator Kay Hagan dead at 66,"Former U.S. Sen. Kay Hagan, a one-time Capitol..."

In [103]:
import pandas as pd
import openai

# Your API key from OpenAI
api_key = "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"

# Authenticate with your API key
openai.api_key = api_key

# Load your Pandas DataFrame or create it however you like
df = news

# Convert the DataFrame to a string and truncate if needed
content = df.to_string

# The prompt that will be given to ChatGPT
prompt = f"What N10414 refers to in:\n{content}\n"

# Send the prompt to ChatGPT and get the response
response = openai.Completion.create(
    engine="text-davinci-002",  # You can choose a different engine if needed
    prompt=prompt,
)

# Extract the response from the API and print it
reply = response.choices[0].text.strip()
print(reply)

The article is about Robert Evans, the Paramount executive who produced "Chin