In [2]:
# imports
import pandas as pd
import openai 
import ast
import numpy as np
from sklearn.metrics import precision_score, recall_score
import random

Data

In [2]:
interactions = pd.read_csv("MIND/behaviors.tsv",sep='\t',  header=None)
interactions.columns =['User', 'Time', 'ID', 'Impressions'] 
interactions = interactions.drop(['Time'], axis=1)
interactions.head()

,User,ID,Impressions
0,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,U73700,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,U34670,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,U8125,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [3]:
#load the data with news articles
news = pd.read_csv("embeddings/news_emb_final.csv") #document with news content
news.head()

,ID,Category,SubCategory,Content,Content_emb
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","[0.005885085556656122, -0.007782096974551678, ..."
1,N19639,health,weightloss,50 Worst Habits For Belly Fat These seemingly ...,"[-0.004876355174928904, -0.007969613187015057,..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,"[-0.02760046347975731, -0.013719998300075531, ..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"[-0.0297758337110281, -0.014837449416518211, 0..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","[0.005073545966297388, 0.004160495940595865, 0..."

In [4]:
def get_user_related_content(user):
    user_row = interactions[interactions['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['ID'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        id_row = news[news['ID'] == user_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((user_id, content))
    
    user_output = [f'{item[0]}: {item[1]}' for item in result]
    
    return user_output

In [5]:
def clean_id(id_value):
    # Remove index part ("-1" or "-0")
    return id_value.rstrip('01').rstrip('-')

In [6]:
def get_user_related_impressions(user):
    user_row = interactions[interactions['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['Impressions'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        cleaned_id = clean_id(user_id)
        id_row = news[news['ID'] == cleaned_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((cleaned_id, content))
            
    impressions_output = [f'{item[0]}: {item[1]}' for item in result]
    
    return impressions_output

In [7]:
def get_news_and_impressions(user_id):
    news_ids = []
    impressions = []
    
    # Extract row corresponding to the user_id
    user_row = interactions[interactions['User'] == user_id]
    
    if not user_row.empty:
        # Extract news IDs and impressions from the row
        news_ids = user_row['ID'].iloc[0].split()
        impressions = user_row['Impressions'].iloc[0].split()
    
    return news_ids, impressions

ChatGPT

In [8]:
openai.api_key = "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"

In [9]:
# Function to chat with GPT
def chat_with_chatgpt(prompt, model="gpt-3.5-turbo"):
    response = openai.ChatCompletion.create(
        model=model,
        messages=[
            {"role": "system", "content": "You are a helpful assistant."},
            {"role": "user", "content": prompt},
        ],
    )
    message = response['choices'][0]['message']['content'].strip()
    return message

In [10]:
def gpt_task3 (user):
    user_output = get_user_related_content(user)
    impressions_output = get_user_related_impressions(user)
    
    
    user_prompt = (f"The user has interacted with the items from List 1: {user_output}. From the List 2 choose some items, which you could recommend for this user. List 2: {impressions_output}. Output format: a python list with news index (e.g., N12345). Do not explain the reason or include any other words.")
    
    chatbot_response = chat_with_chatgpt(user_prompt)
    
    # Remove leading and trailing whitespaces and newline characters
    cleaned_string = chatbot_response.strip()

    # Use ast.literal_eval to safely evaluate the string as a literal expression
    result_list = ast.literal_eval(cleaned_string)
    
    return (result_list)

In [11]:
def get_random_news(n):
    random_news = random.sample(list(news.itertuples(index=False, name=None)), n)
    return [(news[0], news[3]) for news in random_news]

In [223]:
# n is the number of random user IDs you want to select
n = 15
# Select n random user IDs from the DataFrame
random_user_ids = interactions['User'].sample(n).tolist()
print(random_user_ids)

['U83008', 'U83313', 'U47050', 'U19058', 'U87240', 'U11455', 'U54881', 'U69518', 'U40611', 'U35808', 'U22351', 'U42242', 'U19313', 'U19973', 'U4149']

In [224]:
user_id = "U83008"

In [225]:
gpt_task3(user_id)

['N35170',
 'N23816',
 'N58114',
 'N14592',
 'N287',
 'N28046',
 'N45266',
 'N35233',
 'N55132',
 'N34876']

In [226]:
#check
check = get_news_and_impressions(user_id)
print(check)

(['N6233', 'N5034', 'N14340', 'N29316', 'N11894', 'N11894', 'N7013', 'N56514', 'N52626', 'N28819', 'N22561', 'N54889', 'N10897', 'N57318', 'N31801', 'N306', 'N17032', 'N52551', 'N47556', 'N28257', 'N13539', 'N53037'], ['N35170-0', 'N48063-0', 'N51048-0', 'N23816-0', 'N58114-0', 'N35047-0', 'N64734-0', 'N14592-0', 'N60992-0', 'N287-0', 'N28046-0', 'N25444-1', 'N59673-0', 'N38159-0', 'N47061-0', 'N45266-0', 'N13907-0', 'N35233-0', 'N55132-0', 'N59272-0', 'N34876-0', 'N62128-0'])

Evaluation

In [227]:
def create_evaluation_df (user):
    user_row = interactions[interactions['User'] == user]
    user_ids = user_row['Impressions'].iloc[0].split()
    list_1 = user_ids
    list_2 = None
    try:
        list_2 = gpt_task3(user)

    except Exception as e:
        print(f"Error processing user {user}: {e}")
        
    if list_2 is not None:
        # Your code that iterates over list_2 or uses it goes here
        for item in list_2:
            # Process each item in list_2
            pass
    
    #create a DataFrame with the 'ID' column from list_1
    final_df = pd.DataFrame({'ID': [item.split('-')[0] for item in list_1]})

    # Add the 'True' column based on the indexes (1 or 0)
    final_df['True'] = [int(item.split('-')[1]) for item in list_1]

    # Add the 'Predicted' column based on the presence in list_2
    final_df['Predicted'] = [1 if item in list_2 else 0 for item in final_df['ID']]
    
    return final_df

In [228]:
create_evaluation_df(user_id)

        ID  True  Predicted
0   N35170     0          1
1   N48063     0          0
2   N51048     0          0
3   N23816     0          1
4   N58114     0          1
5   N35047     0          1
6   N64734     0          0
7   N14592     0          0
8   N60992     0          1
9     N287     0          0
10  N28046     0          0
11  N25444     1          0
12  N59673     0          0
13  N38159     0          0
14  N47061     0          0
15  N45266     0          0
16  N13907     0          0
17  N35233     0          0
18  N55132     0          0
19  N59272     0          0
20  N34876     0          0
21  N62128     0          0

In [229]:
def calculate_precision_recall (user):
    df = create_evaluation_df(user)
    # Calculate precision
    precision = precision_score(df['True'], df['Predicted'])

    # Calculate recall
    recall = recall_score(df['True'], df['Predicted'])

    # Calculate weighted precision
    weighted_precision = precision_score(df['True'], df['Predicted'], average='weighted')

    # Calculate weighted recall
    weighted_recall = recall_score(df['True'], df['Predicted'], average='weighted')

    # Print the results
    print(f'Precision: {precision}')
    print(f'Recall: {recall}')
    print(f'Weighted Precision: {weighted_precision}')
    print(f'Weighted Recall: {weighted_recall}')

In [231]:
calculate_precision_recall(user_id)

Precision: 0.0
Recall: 0.0
Weighted Precision: 0.8983957219251337
Weighted Recall: 0.7272727272727273

Results: all

In [7]:
chatGPT_task3 = pd.read_csv("ChatGPT_results/ChatGPT_task3.csv", sep=';') #document with user interactions
chatGPT_task3

      User  Precision  Recall  Weighted_precision  Weighted_recall
0   U23515       0.00     0.0              0.8720            0.667
1   U81540       0.10     0.3              0.8770            0.738
2   U21813       0.25     0.5              0.6250            0.500
3   U57492       0.50     1.0              0.2500            0.500
4   U89051       0.00     0.0              0.8480            0.750
5   U74030       0.00     0.0              0.7800            0.650
6   U81983       0.25     1.0              0.0625            0.250
7   U34394       0.00     0.0              0.8810            0.778
8   U11554       0.00     0.0              0.3750            0.250
9   U30347       0.50     1.0              0.2500            0.500
10  U89266       0.00     0.0              0.8860            0.700
11  U59978       0.00     0.0              0.6930            0.533
12  U44000       0.00     0.0              0.3750            0.250
13  U62801       0.50     1.0              0.2500            0.500
14  U83008       0.00     0.0              0.8980            0.727

In [11]:
mean_precision = chatGPT_task3['Weighted_recall'].mean()
mean_precision

0.5528666666666667