In [182]:
# imports
import pandas as pd
import numpy as np
import random

In [183]:
user_input = 'U38627'

In [184]:
behaviors = pd.read_csv("MIND/behaviors_testdataset.csv", sep=';', header=None)
behaviors.columns =['User', 'Time', 'ID', 'Impressions'] 
behaviors = behaviors.drop(['Time'], axis=1)
behaviors.head()

,User,ID,Impressions
0,U13000,N42782 N18445 N49749,N7482-1 N6379-0
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,N1145-1 N34930-1 N53526-0 N3574-0 N751-0 N2202...
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,N4303-1 N58730-0 N64130-0 N38064-0 N49210-0 N92-0
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
4,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...

In [185]:
news = pd.read_csv("MIND/news_testdataset.csv") 
news.head()

,ID,Category,SubCategory,Content
0,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...
1,N9721,health,nutrition,"50 Foods You Should Never Eat, According to He..."
2,N39758,health,nutrition,25 Biggest Grocery Store Mistakes Making You G...
3,N3574,autos,autosnews,Ford Bronco Test Mule Spotted Flexing Its Musc...
4,N42474,news,newsbusiness,Trump's Trustbusters Bring Microsoft Lessons t...

In [186]:
def get_user_related_content(user):
    user_row = behaviors[behaviors['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['ID'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        id_row = news[news['ID'] == user_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((user_id, content))
    
    return result

In [187]:
output_content = get_user_related_content(user_input)

#print(f"User: {user_input}", end=" ")
for user_id, content in output_content:
    print(f"[{user_id}: {content}]", end=" ")

[N21136: Andy Cohen Says He Doesn't Feel Guilty About Joe and Teresa Giudice's Legal Fate After RHONJ Andy Cohen Doesn't Feel Guilt About Joe and Teresa Giudice] [N306: Kevin Spacey Won't Be Charged in Sexual Assault Case After Accuser Dies The Los Angeles County District Attorney's Office has formally dropped a case against actor Kevin Spacey, after the accuser died.] [N26026: Miranda Lambert Reveals the Real Reason Behind Her Secret Wedding: 'It's Not for Everybody Else' Miranda Lambert Reveals Why She Secretly Married Brendan McLoughlin] [N2309: James Van Der Beek and Wife Kimberly on Expecting Baby No. 6: It Often Requires an 'Explanation' James Van Der Beek and Wife Kimberly on Expecting Baby No. 6] [N36530: Property Brothers' J.D. Scott Marries Annalee Belle in Vintage Theatre-Themed Wedding J.D. Scott is Married! Third Property Brother Ties Knot]

In [188]:
def get_random_news(n):
    random_news = random.sample(list(news.itertuples(index=False, name=None)), n)
    return [(news[0], news[3]) for news in random_news]

In [189]:
n_random_news = 3  # Change this to the desired number of random news
random_news_output = get_random_news(n_random_news)

print("Random News:")
for news_id, news_content in random_news_output:
    print(f"[{news_id}: {news_content}]", end=" ")

Random News:
[N41172: Welcome to the World! All of the Celebrity Babies Who've Made Their Debuts in 2019 See who's made their debut so far this year] [N11855: New Jersey woman sues waiter for spilling wine on her Herm√®s handbag The woman is seeking $30,000 for the light-pink luxury handbag, which has been discontinued.] [N17686: Suspect in Henry County murder, kidnapping arraigned ]

For Impressions

In [190]:
behaviors = pd.read_csv("MIND/behaviors_testdataset.csv", sep=';', header=None)
behaviors.columns =['User', 'Time', 'Read', 'ID'] 
behaviors = behaviors.drop(['Time'], axis=1)
behaviors.head()

,User,Read,ID
0,U13000,N42782 N18445 N49749,N7482-1 N6379-0
1,U14000,N9721 N61358 N11360 N64593 N9900 N46688,N1145-1 N34930-1 N53526-0 N3574-0 N751-0 N2202...
2,U15000,N42474 N41013 N45970 N4015 N56461 N11161 N31633,N4303-1 N58730-0 N64130-0 N38064-0 N49210-0 N92-0
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
4,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...

In [191]:
def clean_id(id_value):
    # Remove index part ("-1" or "-0")
    return id_value.rstrip('01').rstrip('-')

def get_user_related_content(user):
    user_row = behaviors[behaviors['User'] == user]
    
    if user_row.empty:
        return [("No data found for user", user)]
    
    user_ids = user_row['ID'].iloc[0].split()
    
    result = []
    
    for user_id in user_ids:
        cleaned_id = clean_id(user_id)
        id_row = news[news['ID'] == cleaned_id]
        
        if not id_row.empty:
            content = id_row['Content'].iloc[0]
            result.append((cleaned_id, content))
    
    return result

In [192]:
output_interactions = get_user_related_content(user_input)

if output_interactions:
    #print(f"User: {user_input}", end=" ")
    for user_id, content in output_interactions:
        print(f"[{user_id}: {content}]", end=" ")
else:
    print(f"No data found for user {user_input}")

[N4642: Kodak Black Sentenced to Over 3 Years in Prison in Weapons Case Rapper Kodak Black has been sentenced to more than three years in federal prison after pleading guilty to weapons charges stemming from his arrest just before a scheduled concert performance in May.] [N26025: Bannon calls Pelosi's impeachment strategy "actually quite brilliant" Bannon, the former White House chief strategist, called Pelosi a "master at political warfare"] [N4913: Don't be fooled: Costco says $75 coupon is a scam Wholesale retailer Costco is warning customers about a new scam that is promising shoppers a $75 coupon.] [N287: Three school workers charged in death of special needs student The student was reportedly restrained face-down for nearly an hour before becoming unresponsive] [N39010: Ruth Bader Ginsburg misses court due to illness Supreme Court Justice Ruth Bader Ginsburg was not on the bench for oral arguments Wednesday due to illness, according to Chief Justice John Roberts.] [N51048: Rep. Tim Ryan endorses Biden in Democratic primary ] [N21420: Lisa Vanderpump Reveals Why She Left RHOBH: 'I Don't Have Room in My Life for Nastiness' Lisa Vanderpump Reveals Why She Left RHOBH] [N34876: Jennifer Lopez Debuted the Sleek Seasonal Bob You'll Want to Copy *calling my hair stylist*] [N13907: 4 reasons you shouldn't max out your 401(k) Making high-dollar contributions to your 401(k) can cost you.] [N59673: Selena Gomez and Julia Michaels Share a Kiss Before Getting Matching Arrow Tattoos Selena Gomez and Julia Michaels Get Matching Arrow Tattoos] [N47061: 105 Black Friday Deals You Can Start Shopping Today Save with early bird deals from stores like Walmart, Target, Amazon, Costco, Sam's Club, Kohl's, Sears, JCPenney, and Macy's, which are offering deep Black Friday discounts on the hottest products on your Christmas list   and your wish list   starting on Thanksgiving, or even sooner.]

In [193]:
print(f"The user has interacted with the items from List 1. You task is to choose items, which you could recommend for this user, from List 2. Output format: a python list. Do not explain the reason or include any other words. List 1: {output_content}, List 2: {output_interactions}")

The user has interacted with the items from List 1. You task is to choose items, which you could recommend for this user, from List 2. Output format: a python list. Do not explain the reason or include any other words. List 1: [('N21136', "Andy Cohen Says He Doesn't Feel Guilty About Joe and Teresa Giudice's Legal Fate After RHONJ Andy Cohen Doesn't Feel Guilt About Joe and Teresa Giudice"), ('N306', "Kevin Spacey Won't Be Charged in Sexual Assault Case After Accuser Dies The Los Angeles County District Attorney's Office has formally dropped a case against actor Kevin Spacey, after the accuser died."), ('N26026', "Miranda Lambert Reveals the Real Reason Behind Her Secret Wedding: 'It's Not for Everybody Else' Miranda Lambert Reveals Why She Secretly Married Brendan McLoughlin"), ('N2309', "James Van Der Beek and Wife Kimberly on Expecting Baby No. 6: It Often Requires an 'Explanation' James Van Der Beek and Wife Kimberly on Expecting Baby No. 6"), ('N36530', "Property Brothers' J.D. Scott Marries Annalee Belle in Vintage Theatre-Themed Wedding J.D. Scott is Married! Third Property Brother Ties Knot")], List 2: [('N4642', 'Kodak Black Sentenced to Over 3 Years in Prison in Weapons Case Rapper Kodak Black has been sentenced to more than three years in federal prison after pleading guilty to weapons charges stemming from his arrest just before a scheduled concert performance in May.'), ('N26025', 'Bannon calls Pelosi\'s impeachment strategy "actually quite brilliant" Bannon, the former White House chief strategist, called Pelosi a "master at political warfare"'), ('N4913', "Don't be fooled: Costco says $75 coupon is a scam Wholesale retailer Costco is warning customers about a new scam that is promising shoppers a $75 coupon."), ('N287', 'Three school workers charged in death of special needs student The student was reportedly restrained face-down for nearly an hour before becoming unresponsive'), ('N39010', 'Ruth Bader Ginsburg misses court due to illness Supreme Court Justice Ruth Bader Ginsburg was not on the bench for oral arguments Wednesday due to illness, according to Chief Justice John Roberts.'), ('N51048', 'Rep. Tim Ryan endorses Biden in Democratic primary '), ('N21420', "Lisa Vanderpump Reveals Why She Left RHOBH: 'I Don't Have Room in My Life for Nastiness' Lisa Vanderpump Reveals Why She Left RHOBH"), ('N34876', "Jennifer Lopez Debuted the Sleek Seasonal Bob You'll Want to Copy *calling my hair stylist*"), ('N13907', "4 reasons you shouldn't max out your 401(k) Making high-dollar contributions to your 401(k) can cost you."), ('N59673', 'Selena Gomez and Julia Michaels Share a Kiss Before Getting Matching Arrow Tattoos Selena Gomez and Julia Michaels Get Matching Arrow Tattoos'), ('N47061', "105 Black Friday Deals You Can Start Shopping Today Save with early bird deals from stores like Walmart, Target, Amazon, Costco, Sam's Club, Kohl's, Sears, JCPenney, and Macy's, which are offering deep Black Friday discounts on the hottest products on your Christmas list   and your wish list   starting on Thanksgiving, or even sooner.")]

In [194]:
chatGPT = pd.read_csv("ChatGPT_results/ChatGPT_Task3.csv", sep =";") 
chatGPT.head()

     User  True Positive  True Negative  False positive  False negative
0  U13000              1              1               0               0
1  U14000              1              4               2               1
2  U15000              1              3               2               0
3  U13740              1              0               1               0
4  U91836              0              7               2               2

In [195]:
import numpy as np
from sklearn.metrics import precision_score, recall_score

# Assuming df is your DataFrame
true_positive = chatGPT['True Positive']
false_positive = chatGPT['False positive']
false_negative = chatGPT['False negative']

# Calculate precision and recall with checks for division by zero
precision = true_positive / np.where((true_positive + false_positive) == 0, 1, (true_positive + false_positive))
recall = true_positive / np.where((true_positive + false_negative) == 0, 1, (true_positive + false_negative))

# Calculate mean precision and recall
mean_precision = np.mean(precision)
mean_recall = np.mean(recall)

print(f'Mean Precision: {mean_precision:.4f}')
print(f'Mean Recall: {mean_recall:.4f}')

Mean Precision: 0.2879
Mean Recall: 0.5455

In [196]:
# Create binary true labels (assuming 1 is the positive class)
true_labels = np.ones(len(chatGPT))

# Calculate weighted precision and recall
weighted_precision = np.sum(precision * (true_positive + false_positive)) / np.sum(true_positive + false_positive)
weighted_recall = np.sum(precision * (true_positive + false_negative)) / np.sum(true_positive + false_negative)

print(f'Weighted Precision: {weighted_precision:.4f}')
print(f'Weighted Recall: {weighted_recall:.4f}')

Weighted Precision: 0.3182
Weighted Recall: 0.1742