In [7]:
import pandas as pd
import os

In [10]:

# Path to the folder containing the CSV files
folder_path = "hybrid_recommendations/"

# Initialize an empty DataFrame to store the data
combined_df = pd.DataFrame(columns=["User_ID", "ID", "hybrid"])

# Get the total number of files in the folder
total_files = len([filename for filename in os.listdir(folder_path) if filename.endswith(".csv")])
file_count = 0

# Iterate through each file in the folder
for filename in os.listdir(folder_path)[40000:]:
    if filename.endswith(".csv"):
        user_id = filename.split("_")[0]  # Extract user ID from the filename
        file_path = os.path.join(folder_path, filename)
        
        # Read the CSV file and skip the first row (header)
        #df = pd.read_csv(file_path, sep='\t', skiprows=1, names=["ID", "hybrid"])
        df = pd.read_csv(file_path)
        df = df.sort_values(by='hybrid')
        
        # Splitting the "ID" column based on comma and creating separate rows
        #df[['ID', 'hybrid']] = df['ID'].str.split(',', expand=True)
        
        # Add the user ID to the DataFrame
        df.insert(0, "User_ID", user_id)
        
        # Append the data to the combined DataFrame
        combined_df = pd.concat([combined_df, df.head(20)], ignore_index=True)
        
        # Increment file count and print progress
        file_count += 1
        print(f"Processed {file_count} out of {total_files} files.")

# Display the combined DataFrame
print(combined_df)

U757_hybrid.csv
Processed 1 out of 49052 files.
   User_ID      ID    hybrid
0     U757  N35242  0.080857
1     U757  N20583  0.081383
2     U757  N30842  0.082452
3     U757   N4670  0.082629
4     U757  N27803  0.083003
5     U757  N27851  0.083156
6     U757  N49624  0.083762
7     U757  N46397  0.084046
8     U757   N1854  0.084165
9     U757   N6616  0.084222
10    U757  N51741  0.084249
11    U757  N49846  0.084271
12    U757  N27007  0.084633
13    U757   N1345  0.084677
14    U757  N51676  0.084886
15    U757  N33797  0.085061
16    U757  N23925  0.085099
17    U757  N31422  0.085103
18    U757  N59177  0.085134
19    U757  N17671  0.085192

In [75]:
combined_df.to_csv ("recommendations_20/hybrid_rec_20_5.csv", index = None)

In [76]:
# Directory where your files are located
directory = 'recommendations_20/'

# Get a list of all files in the directory that start with 'hybrid_rec_20_'
files = [file for file in os.listdir(directory) if file.startswith('hybrid_rec_20_')]

In [77]:
# Read and concatenate all files
dfs = []
for file in files:
    # Specify dtype as 'object' to preserve all strings
    df = pd.read_csv(os.path.join(directory, file), dtype='object')
    dfs.append(df)

# Concatenate all dataframes into one
merged_df = pd.concat(dfs, ignore_index=True)

In [78]:
merged_df

       User_ID      ID              hybrid
0       U19377   N9873  0.1236624769364614
1       U19377  N57318  0.1241306004730366
2       U19377  N28434   0.125565901939416
3       U19377  N42816  0.1255770729873681
4       U19377  N26288  0.1294539190183991
...        ...     ...                 ...
981035  U74193  N10781   0.070944852112255
981036  U74193  N10476  0.0711201243970514
981037  U74193  N41996  0.0712235531389711
981038  U74193  N50246  0.0712313823103673
981039  U74193  N42509  0.0712581633561396

[981040 rows x 3 columns]

In [79]:
users_list = merged_df['User_ID'].unique().tolist()

In [80]:
len(users_list)

49052

In [81]:
# Write the merged dataframe to a new CSV file
merged_df.to_csv('recommendations_20/hybrid_rec_20.csv', index=False)

In [82]:
hyb = pd.read_csv("recommendations_20/hybrid_rec_20.csv")

In [85]:
cont = pd.read_csv("recommendations_20/content_rec_20.csv")

In [84]:
# Assuming df is your DataFrame containing the data
user_id = 'U19377'
user_df = hyb[hyb['User_ID'] == user_id]
print(user_df)

   User_ID      ID    hybrid
0   U19377   N9873  0.123662
1   U19377  N57318  0.124131
2   U19377  N28434  0.125566
3   U19377  N42816  0.125577
4   U19377  N26288  0.129454
5   U19377  N53693  0.130186
6   U19377  N57964  0.130747
7   U19377  N35092  0.131154
8   U19377  N27969  0.131484
9   U19377  N38005  0.131504
10  U19377  N43233  0.132157
11  U19377  N47329  0.132786
12  U19377  N26265  0.132928
13  U19377  N15607  0.133395
14  U19377  N41279  0.133461
15  U19377   N9647  0.133816
16  U19377  N15981  0.133936
17  U19377  N35724  0.134238
18  U19377  N31729  0.134442
19  U19377  N39364  0.134641

In [86]:
# Assuming df is your DataFrame containing the data
user_df1 = cont[cont['User_ID'] == user_id]
print(user_df1)

       User_ID      ID  Distance
181080  U19377  N57318  0.138467
181081  U19377   N9873  0.146890
181082  U19377  N28434  0.152147
181083  U19377  N26288  0.152188
181084  U19377   N3497  0.152599
181085  U19377  N28496  0.153291
181086  U19377  N24985  0.153776
181087  U19377  N52295  0.156101
181088  U19377  N26265  0.156601
181089  U19377  N57964  0.157568
181090  U19377  N52907  0.158670
181091  U19377   N9647  0.160442
181092  U19377  N39364  0.161577
181093  U19377  N27969  0.161821
181094  U19377  N47329  0.162613
181095  U19377  N39634  0.162684
181096  U19377  N51909  0.163049
181097  U19377  N15607  0.163178
181098  U19377  N61692  0.163271
181099  U19377  N10095  0.163412