Precision and recall
https://insidelearningmachines.com/precisionk_and_recallk/#:~:text=Precision%40k%20and%20Recall%40k%20are%20metrics%20used%20to%20evaluate,end%20user%20by%20the%20model.

In [2]:
# imports
import pandas as pd
import numpy as np
from typing import List
import os

In [3]:
behaviors = pd.read_csv("MIND/behaviors_test.csv") 
behaviors = behaviors.drop(['0', '2', '3'], axis=1)
behaviors.columns =['User', 'Impressions']

In [13]:
users = pd.read_csv("data_embeddings/users_emb_test.csv") #document with user interactions
users.head()

,User,ID,Interactions_emb
0,U10045,N52865 N22570 N37481 N55189 N16158 N63276 N150...,"[-0.020762629806995392, -0.02040235325694084, ..."
1,U11306,N18064 N38868 N60340 N31801 N39778 N54842 N110...,"[-0.022429920732975006, -0.028805548325181007,..."
2,U13000,N42782 N18445 N49749,"[-0.018485717475414276, -0.00828414037823677, ..."
3,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,"[-0.02095220796763897, -0.02534387819468975, 0..."
4,U1376,N62931 N52545 N32808 N39556 N29529 N10732 N496...,"[-0.0438978411257267, -0.018135055899620056, 0..."

In [7]:
news = pd.read_csv("hybrid_test.csv") 
news.head()

,ID,category,sub_category,content,collaborative_rec,content_rec,mean,two_one
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.273961,0.260308,0.264859
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263150,0.259809,0.260922
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734,0.281452,0.270593,0.274213
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554,0.271511,0.267533,0.268859
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187,0.272487,0.269337,0.270387

In [5]:
# Function to count the number of suffixes
def count_suffixes(row, suffix):
    impressions = row['Impressions'].split()
    count = sum(1 for imp in impressions if imp.endswith(suffix))
    return count

In [9]:
# Counting "-1" and "-0" suffixes
behaviors['-1 Count'] = behaviors.apply(lambda row: count_suffixes(row, '-1'), axis=1)
behaviors['-0 Count'] = behaviors.apply(lambda row: count_suffixes(row, '-0'), axis=1)

# Total count across all users
total_minus_1 = behaviors['-1 Count'].sum()
total_minus_0 = behaviors['-0 Count'].sum()

print("Total -1 count:", total_minus_1)
print("Total -0 count:", total_minus_0)

Total -1 count: 137
Total -0 count: 3670

In [10]:
total_minus_1/total_minus_0

0.03732970027247957

In [28]:
def create_user_df(input_df, user):
    user_row = input_df[input_df['User'] == user]

    if user_row.empty:
        return None

    impressions = user_row['Impressions'].values[0].split()

    news_ids = []
    true_values = []

    for impression in impressions:
        news_id, true_value = impression.split('-')
        news_ids.append(news_id)
        true_values.append(int(true_value))

    user_df = pd.DataFrame({'ID': news_ids, 'true_value': true_values})
    return user_df

In [29]:
# Assuming you have a DataFrame named 'users' with a 'User' column
users_list = users['User'].unique().tolist()

# Print the resulting list
print(users_list)

['U10045', 'U11306', 'U13000', 'U13740', 'U1376', 'U15141', 'U15363', 'U17841', 'U19722', 'U27024', 'U27804', 'U2935', 'U38865', 'U39029', 'U39222', 'U39703', 'U40466', 'U45798', 'U47761', 'U47892', 'U50562', 'U5286', 'U53231', 'U53276', 'U54128', 'U61875', 'U63162', 'U67565', 'U69950', 'U78244', 'U78954', 'U79199', 'U80798', 'U85394', 'U89744', 'U92093', 'U92486', 'U9306']

In [39]:
four_perc = []
for i in users_list:
    # Example usage
    user_df = create_user_df(behaviors, i)
    news = pd.read_csv("hybrid_recommendations/" + i + "_hybr.csv") 
    
    # Sorting the 'content_rec' column in ascending order
    sorted_content_rec = news['content_rec'].sort_values(ascending=True)

    # Calculating the index for the value representing the maximum of 4% of the sorted data
    index_4_percent = int(len(sorted_content_rec) * 0.04)  # 4% of the data

    # Getting the value at the calculated index
    value_at_4_percent = sorted_content_rec.iloc[index_4_percent]
    four_perc.append(value_at_4_percent)
    
print (np.mean(four_perc))

0.24653421479349022

In [46]:
for i in users_list:
    # Example usage
    user_df = create_user_df(behaviors, i)
    news = pd.read_csv("hybrid_recommendations/" + i + "_hybr.csv") 
    
    id_to_new_column = news.set_index('ID')['content_rec'].to_dict()
    user_df['content_rec'] = user_df['ID'].map(id_to_new_column)
    
    print(user_df)

        ID  true_value  content_rec
0   N59673           0          NaN
1   N34876           0          NaN
2   N14592           0          NaN
3   N53470           0          NaN
4   N39010           0          NaN
5   N51048           0          NaN
6   N47061           0          NaN
7   N64094           0          NaN
8    N4913           0          NaN
9   N35233           0          NaN
10  N13907           0          NaN
11  N26795           0          NaN
12  N28213           0          NaN
13    N287           0          NaN
14  N21420           1          NaN
15  N22417           0          NaN
         ID  true_value  content_rec
0    N20811           0          NaN
1    N44399           0          NaN
2    N38783           0          NaN
3    N50005           0          NaN
4    N36703           0          NaN
..      ...         ...          ...
251  N27581           0          NaN
252  N23060           0          NaN
253  N17340           0          NaN
254  N29001           0          NaN
255   N1774           0          NaN

[256 rows x 3 columns]
      ID  true_value  content_rec
0  N7482           1     0.224888
1  N6379           0     0.261376
       ID  true_value  content_rec
0  N55689           1          NaN
1  N35729           0          NaN
        ID  true_value  content_rec
0   N41020           0          NaN
1   N20930           0          NaN
2   N33619           0          NaN
3   N32544           0          NaN
4   N31504           0          NaN
5   N29128           0          NaN
6    N7319           0          NaN
7   N49180           0          NaN
8   N50675           0          NaN
9   N22457           0          NaN
10  N20043           0          NaN
11  N27041           0          NaN
12  N57132           0          NaN
13  N30475           1          NaN
14   N7927           0          NaN
15  N14184           0          NaN
        ID  true_value  content_rec
0    N7618           0          NaN
1   N56214           0          NaN
2   N13907           0          NaN
3   N17117           0          NaN
4   N14029           0          NaN
5   N20746           1          NaN
6    N8509           0          NaN
7   N15719           0          NaN
8   N22417           0          NaN
9   N62563           0          NaN
10  N41511           0          NaN
11  N36660           0          NaN
12   N4510           0          NaN
13  N24376           0          NaN
14  N47061           0          NaN
15  N23162           0          NaN
16  N21128           0          NaN
17  N34048           0          NaN
18  N20036           0          NaN
19  N26262           0          NaN
20  N38215           0          NaN
21  N63796           0          NaN
22  N36261           0          NaN
23  N21420           0          NaN
24  N35847           0          NaN
25  N50415           0          NaN
26  N51048           0          NaN
27  N25088           1          NaN
         ID  true_value  content_rec
0    N11551           0          NaN
1     N9621           0          NaN
2    N49364           0          NaN
3    N47098           0          NaN
4    N39109           0          NaN
..      ...         ...          ...
122   N8260           0          NaN
123  N48017           1          NaN
124  N20793           0          NaN
125  N58660           0          NaN
126  N38869           0          NaN

[127 rows x 3 columns]
        ID  true_value  content_rec
0   N39587           0          NaN
1   N19542           1          NaN
2   N53214           0          NaN
3   N33848           0          NaN
4   N31763           0          NaN
5   N52622           0          NaN
6    N7128           0          NaN
7   N36621           0          NaN
8   N61359           0          NaN
9   N29001           0          NaN
10  N51241           0          NaN
11   N7328           0          NaN
12  N57853           0          NaN
13  N61623           0          NaN
14   N5370           0          NaN
15  N59407           0          NaN
16   N7041           0          NaN
17  N55689           0          NaN
        ID  true_value  content_rec
0   N11769           0          NaN
1   N29517           0          NaN
2    N7121           0          NaN
3   N56548           0          NaN
4    N4642           0          NaN
..     ...         ...          ...
68  N14029           0          NaN
69  N51194           0          NaN
70   N3431           0          NaN
71  N37437           0          NaN
72  N63106           0          NaN

[73 rows x 3 columns]
         ID  true_value  content_rec
0    N20394           0          NaN
1    N28072           0          NaN
2    N29212           0          NaN
3    N47572           0          NaN
4    N54321           0          NaN
..      ...         ...          ...
108  N15574           0          NaN
109  N61754           0          NaN
110  N20793           0          NaN
111  N55943           0          NaN
112  N50592           0          NaN

[113 rows x 3 columns]
        ID  true_value  content_rec
0   N19318           0          NaN
1   N22825           0          NaN
2   N55606           0          NaN
3   N39317           0          NaN
4   N50675           0          NaN
5   N31978           0          NaN
6   N40839           0          NaN
7    N3123           0          NaN
8   N63154           0          NaN
9   N64734           0          NaN
10  N34657           0          NaN
11  N61404           0          NaN
12  N31370           0          NaN
13  N63970           1          NaN
14  N56243           0          NaN
15  N60272           0          NaN
16  N30475           0          NaN
17  N45389           0          NaN
18  N11793           0          NaN
       ID  true_value  content_rec
0  N26376           0          NaN
1  N50060           0          NaN
2  N59407           0          NaN
3  N35729           0          NaN
4  N12042           0          NaN
5   N2886           1          NaN
6   N8346           0          NaN
7   N9475           0          NaN
8   N6926           0          NaN
9  N36712           0          NaN
        ID  true_value  content_rec
0    N3243           0          NaN
1   N18529           0          NaN
2     N496           0          NaN
3   N18151           1          NaN
4    N6837           0          NaN
5   N19661           0          NaN
6   N23767           0          NaN
7    N1539           0          NaN
8   N50872           0          NaN
9   N57032           0          NaN
10  N41387           0          NaN
11  N18531           0          NaN
12  N41432           0          NaN
13  N29212           0          NaN
14  N45523           0          NaN
15  N38779           0          NaN
16   N6477           0          NaN
17  N42698           0          NaN
18  N34185           0          NaN
19  N53515           0          NaN
20  N36226           0          NaN
21  N55913           0          NaN
22  N44698           0          NaN
23   N4975           0          NaN
24  N25165           0          NaN
25  N62318           0          NaN
26  N23446           0          NaN
        ID  true_value  content_rec
0   N35815           0          NaN
1    N6578           0          NaN
2   N45523           0          NaN
3   N62318           0          NaN
4   N50872           0          NaN
5    N1539           0          NaN
6   N34185           1          NaN
7   N23446           0          NaN
8   N29212           0          NaN
9   N25165           0          NaN
10   N6477           0          NaN
11  N53515           0          NaN
12  N38779           0          NaN
        ID  true_value  content_rec
0   N23446           0          NaN
1   N29212           0          NaN
2   N47098           0          NaN
3   N38779           0          NaN
4   N50872           0          NaN
5   N41387           0          NaN
6   N40109           0          NaN
7   N51570           0          NaN
8   N44698           0          NaN
9   N23877           0          NaN
10   N6477           1          NaN
        ID  true_value  content_rec
0   N45499           0          NaN
1   N57368           0          NaN
2    N7431           0          NaN
3   N57987           0          NaN
4   N13486           0          NaN
5   N59673           0          NaN
6   N26469           0          NaN
7   N11363           0          NaN
8    N7136           0          NaN
9   N34876           0          NaN
10  N27198           0          NaN
11  N22417           0          NaN
12  N21420           0          NaN
13  N39774           0          NaN
14    N287           0          NaN
15  N21297           0          NaN
16  N42143           0          NaN
17  N53470           0          NaN
18  N42634           0          NaN
19  N22145           0          NaN
20  N64094           0          NaN
21  N15719           0          NaN
22  N39010           0          NaN
23  N34048           0          NaN
24  N64184           1          NaN
25  N51048           0          NaN
26  N49483           0          NaN
27   N4913           0          NaN
28  N60858           0          NaN
29  N35389           0          NaN
30  N47061           0          NaN
31  N19592           0          NaN
32  N13907           0          NaN
33   N4537           0          NaN
       ID  true_value  content_rec
0  N41020           0          NaN
1  N33619           1          NaN
       ID  true_value  content_rec
0  N39010           1          NaN
1  N51048           0          NaN
2  N47061           0          NaN
3  N59673           0          NaN
4    N287           0          NaN
        ID  true_value  content_rec
0    N9734           0          NaN
1   N25949           0          NaN
2   N47061           0          NaN
3   N14726           0          NaN
4   N59272           0          NaN
5   N36659           0          NaN
6   N41122           0          NaN
7   N20076           0          NaN
8   N35047           0          NaN
9   N24157           0          NaN
10  N13907           0          NaN
11  N35233           0          NaN
12  N14592           0          NaN
13   N9623           0          NaN
14   N8807           0          NaN
15  N24423           0          NaN
16   N6857           0          NaN
17   N4201           0          NaN
18  N36184           0          NaN
19  N43386           0          NaN
20  N42977           0          NaN
21   N4754           0          NaN
22  N47149           0          NaN
23  N13579           0          NaN
24  N34612           0          NaN
25  N17586           0          NaN
26  N61571           0          NaN
27  N15279           0          NaN
28  N55050           0          NaN
29  N55281           0          NaN
30  N19592           0          NaN
31  N17759           0          NaN
32  N42143           0          NaN
33  N45266           0          NaN
34  N20495           0          NaN
35  N43102           0          NaN
36  N48063           0          NaN
37  N38159           0          NaN
38  N35170           0          NaN
39  N19444           0          NaN
40   N7121           0          NaN
41  N51853           0          NaN
42    N849           0          NaN
43  N29468           0          NaN
44  N62128           0          NaN
45  N47717           0          NaN
46  N18312           1          NaN
47  N34876           0          NaN
48  N40468           0          NaN
49  N11869           0          NaN
50  N64734           0          NaN
51  N57426           0          NaN
52  N59673           0          NaN
53  N28213           0          NaN
54  N59469           0          NaN
55  N25881           0          NaN
56  N60992           0          NaN
57  N41172           0          NaN
       ID  true_value  content_rec
0  N56211           0          NaN
1  N27737           0          NaN
2  N46917           1          NaN
3  N61233           0          NaN
4   N2235           0          NaN
       ID  true_value  content_rec
0  N36681           0          NaN
1  N26952           0          NaN
2  N55489           0          NaN
3  N27349           0          NaN
4  N41224           1          NaN
5  N17307           0          NaN
6  N57651           0          NaN
7  N49685           0          NaN
8  N29128           0          NaN
9  N50060           0          NaN
        ID  true_value  content_rec
0   N47061           0          NaN
1   N36624           0          NaN
2   N19592           0          NaN
3   N43386           0          NaN
4   N19444           1          NaN
5   N61023           0          NaN
6   N45266           0          NaN
7    N3465           0          NaN
8   N39187           0          NaN
9   N42143           0          NaN
10  N45742           0          NaN
       ID  true_value  content_rec
0  N53585           1          NaN
1  N55689           0          NaN
        ID  true_value  content_rec
0   N17231           0          NaN
1   N64174           0          NaN
2    N5652           0          NaN
3    N4021           0          NaN
4   N17115           0          NaN
..     ...         ...          ...
57  N40109           0          NaN
58  N29739           0          NaN
59  N61404           0          NaN
60  N62894           0          NaN
61  N10960           0          NaN

[62 rows x 3 columns]
        ID  true_value  content_rec
0   N27708           0          NaN
1   N65088           0          NaN
2   N33981           0          NaN
3   N36865           0          NaN
4   N33347           0          NaN
5     N349           0          NaN
6   N36086           0          NaN
7   N43083           0          NaN
8    N3590           0          NaN
9   N13580           0          NaN
10  N11513           0          NaN
11  N42028           0          NaN
12  N25764           0          NaN
13  N63697           0          NaN
14  N61074           0          NaN
15  N59852           0          NaN
16  N50314           0          NaN
17  N37377           0          NaN
18  N56396           0          NaN
19  N48015           0          NaN
20  N37009           0          NaN
21  N35305           0          NaN
22  N50329           0          NaN
23   N7128           0          NaN
24  N50389           0          NaN
25  N52000           0          NaN
26  N53431           0          NaN
27  N41881           0          NaN
28  N12831           0          NaN
29  N47851           0          NaN
30  N55645           0          NaN
31  N20926           0          NaN
32  N26702           0          NaN
33  N53017           0          NaN
34  N36683           0          NaN
35  N25467           1          NaN
36  N12168           0          NaN
37  N40342           0          NaN
        ID  true_value  content_rec
0   N44516           0          NaN
1   N57809           0          NaN
2   N43519           0          NaN
3   N16920           0          NaN
4   N42597           0          NaN
5   N31947           0          NaN
6   N54489           0          NaN
7   N51478           0          NaN
8   N25049           0          NaN
9   N23563           0          NaN
10  N13967           0          NaN
11  N62395           0          NaN
12  N32691           0          NaN
13  N14408           1          NaN
14   N2350           0          NaN
15  N10642           0          NaN
16  N21741           0          NaN
17  N36789           0          NaN
        ID  true_value  content_rec
0   N42977           0          NaN
1   N29468           0          NaN
2   N14726           0          NaN
3   N18887           0          NaN
4   N45704           0          NaN
..     ...         ...          ...
72  N62386           0          NaN
73   N2169           0          NaN
74   N6890           0          NaN
75  N51954           0          NaN
76  N60272           0          NaN

[77 rows x 3 columns]
        ID  true_value  content_rec
0   N29341           0          NaN
1   N35854           0          NaN
2   N48657           0          NaN
3   N11830           0          NaN
4   N57614           1          NaN
5   N26706           0          NaN
6   N44651           0          NaN
7   N64513           0          NaN
8   N17355           0          NaN
9   N30619           0          NaN
10  N23184           0          NaN
11  N61145           0          NaN
12  N14520           0          NaN
13  N61022           0          NaN
14  N53245           0          NaN
15  N49279           0          NaN
16   N5276           0          NaN
17  N61185           0          NaN
18  N41220           0          NaN
19  N15224           0          NaN
20  N59390           0          NaN
        ID  true_value  content_rec
0   N10960           0          NaN
1   N61296           0          NaN
2    N6578           0          NaN
3   N52554           0          NaN
4   N62318           0          NaN
5    N4021           0          NaN
6   N53515           0          NaN
7   N44698           0          NaN
8    N6477           0          NaN
9   N41165           0          NaN
10  N35815           0          NaN
11  N23446           0          NaN
12  N39949           0          NaN
13  N60186           0          NaN
14  N25165           0          NaN
15  N37994           0          NaN
16  N62563           0          NaN
17   N6837           0          NaN
18  N46821           0          NaN
19  N29212           0          NaN
20  N20413           0          NaN
21  N45523           0          NaN
22  N20676           0          NaN
23  N50872           0          NaN
24  N40326           0          NaN
25  N38779           0          NaN
26  N15043           0          NaN
27  N61595           0          NaN
28  N15279           0          NaN
29   N1539           1          NaN
30  N36251           0          NaN
31  N38797           0          NaN
32  N23547           0          NaN
33   N8907           0          NaN
34  N58814           0          NaN
        ID  true_value  content_rec
0   N16096           0          NaN
1   N54125           0          NaN
2   N28495           0          NaN
3   N32544           0          NaN
4   N62386           0          NaN
..     ...         ...          ...
68  N59407           0          NaN
69  N33755           0          NaN
70  N55606           0          NaN
71  N18947           0          NaN
72  N50619           0          NaN

[73 rows x 3 columns]
        ID  true_value  content_rec
0    N9473           0          NaN
1   N42346           0          NaN
2    N3232           0          NaN
3   N29341           0          NaN
4   N61022           0          NaN
5   N58051           0          NaN
6   N65185           0          NaN
7   N41220           0          NaN
8    N1034           0          NaN
9   N47245           0          NaN
10  N17965           0          NaN
11    N288           0          NaN
12  N43869           0          NaN
13  N53017           1          NaN
14  N49707           0          NaN
15   N9163           0          NaN
16  N17252           0          NaN
17  N61768           0          NaN
18   N6926           0          NaN
19  N54595           0          NaN
20  N64916           0          NaN
21  N57097           0          NaN
       ID  true_value  content_rec
0  N51048           1          NaN
1  N64094           0          NaN
2  N13907           0          NaN
3  N39010           0          NaN
       ID  true_value  content_rec
0  N41881           0          NaN
1  N27845           0          NaN
2  N60374           0          NaN
3  N47020           1          NaN
4  N59852           0          NaN
5  N51398           0          NaN
6   N8929           0          NaN
       ID  true_value  content_rec
0  N61022           0          NaN
1  N49279           1          NaN
2  N44651           0          NaN
         ID  true_value  content_rec
0    N47572           0          NaN
1    N45523           0          NaN

In [18]:
news = pd.read_csv("hybrid_test.csv") 
news.head()

,ID,category,sub_category,content,collaborative_rec,content_rec,mean,two_one
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.273961,0.260308,0.264859
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263150,0.259809,0.260922
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734,0.281452,0.270593,0.274213
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554,0.271511,0.267533,0.268859
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187,0.272487,0.269337,0.270387

In [19]:
behaviors = pd.read_csv("MIND/behaviors_test.csv") 
behaviors = behaviors.drop(['0', '2', '3'], axis=1)
behaviors.columns =['User', 'Impressions']
behaviors.head()

     User                                        Impressions
0  U13000                                    N7482-1 N6379-0
1  U13740                                  N55689-1 N35729-0
2  U91836  N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
3  U73700  N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
4  U34670                N35729-0 N33632-0 N49685-1 N27581-0

In [20]:
# Calculating the mean of 'content_rec' column
mean_content_rec = news['content_rec'].mean() 

print("Mean of 'content_rec' column:", mean_content_rec)

Mean of 'content_rec' column: 0.2556758361506847

In [47]:
# Sorting the 'content_rec' column in ascending order
sorted_content_rec = news['content_rec'].sort_values(ascending=True)

# Calculating the index for the value representing the maximum of 4% of the sorted data
index_4_percent = int(len(sorted_content_rec) * 0.04)  # 4% of the data

# Getting the value at the calculated index
value_at_4_percent = sorted_content_rec.iloc[index_4_percent]

print("Value at 4% of the sorted 'content_rec' data:", value_at_4_percent)

Value at 4% of the sorted 'content_rec' data: 0.2474820252069627

In [22]:
# Function to count the number of suffixes
def count_suffixes(row, suffix):
    impressions = row['Impressions'].split()
    count = sum(1 for imp in impressions if imp.endswith(suffix))
    return count

In [23]:
# Counting "-1" and "-0" suffixes
behaviors['-1 Count'] = behaviors.apply(lambda row: count_suffixes(row, '-1'), axis=1)
behaviors['-0 Count'] = behaviors.apply(lambda row: count_suffixes(row, '-0'), axis=1)

# Total count across all users
total_minus_1 = behaviors['-1 Count'].sum()
total_minus_0 = behaviors['-0 Count'].sum()

print("Total -1 count:", total_minus_1)
print("Total -0 count:", total_minus_0)

Total -1 count: 137
Total -0 count: 3670

In [24]:
total_minus_1/total_minus_0

0.03732970027247957

In [25]:
def create_user_df(input_df, user):
    user_row = input_df[input_df['User'] == user]

    if user_row.empty:
        return None

    impressions = user_row['Impressions'].values[0].split()

    news_ids = []
    true_values = []

    for impression in impressions:
        news_id, true_value = impression.split('-')
        news_ids.append(news_id)
        true_values.append(int(true_value))

    user_df = pd.DataFrame({'ID': news_ids, 'true_value': true_values})
    return user_df

In [17]:
user_input = 'U13000'
user_df = create_user_df(behaviors, user_input)
print(user_df)

      ID  true_value
0  N7482           1
1  N6379           0

In [18]:
# Create a dictionary mapping IDs to new column values from df2
id_to_new_column = news.set_index('ID')['content_rec'].to_dict()

# Add the new column to df1 based on the mapping
user_df['content_rec'] = user_df['ID'].map(id_to_new_column)

print(user_df)

      ID  true_value  content_rec
0  N7482           1     0.224888
1  N6379           0     0.261376

In [19]:
# Assuming df is your DataFrame
user_df['predicted_value'] = user_df['content_rec'].apply(lambda x: 0 if x >= 0.04 else 1)

# Display the modified DataFrame
print(user_df)

      ID  true_value  content_rec  predicted_value
0  N7482           1     0.224888                0
1  N6379           0     0.261376                0

In [29]:
###precision###

In [26]:
import pandas as pd
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# Assuming df is your DataFrame
true_values = user_df['true_value']
predicted_values = user_df['predicted_value']

# Calculate precision
precision = precision_score(true_values, predicted_values, average='binary')
recall =recall_score(true_values, predicted_values, average='macro')
# Display the mean precision
print(f"Mean Precision: {precision}")

Mean Precision: 0.0

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [27]:
print(f"Mean Recall: {recall}")

Mean Recall: 0.5

In [31]:
###recall###