In [1]:
# imports
import pandas as pd
import openai
from typing import List
import numpy as np
from openai.embeddings_utils import distances_from_embeddings, indices_of_nearest_neighbors_from_distances
from collections import Counter
import ast

In [2]:
openai.api_key = "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"

In [4]:
collab_rec = pd.read_csv("test.csv") #document with user interactions
collab_rec.head()

,ID,Category,SubCategory,Content,article_distance
0,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,0.198320
1,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,0.216016
2,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467
4,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259769

In [19]:
content_rec = pd.read_csv("content_test.csv") #document with user interactions
content_rec.head()

,ID,distance,Category,SubCategory,Content
0,N42782,0.061615,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...
1,N49749,0.121553,sports,football_nfl,"'Unbelievable.' Chiefs fans stunned, mad after..."
2,N18445,0.159909,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...
3,N208,0.185793,sports,football_nfl,Five winners and five losers as the Dallas Cow...
4,N56061,0.186721,sports,football_nfl,9 things we learned from Sunday's games of Wee...

In [23]:
# Create a dictionary mapping IDs to new column values from df2
id_to_new_column = content_rec.set_index('ID')['distance'].to_dict()

# Add the new column to df1 based on the mapping
collab_rec['distance'] = collab_rec['ID'].map(id_to_new_column)

print(collab_rec)

        ID   Category          SubCategory  \
0   N18445     sports        football_ncaa
1   N42782     sports         baseball_mlb
2   N10414     movies            movienews
3   N53526     health               voices
4   N63302  lifestyle        lifestylebuzz
..     ...        ...                  ...
72  N34418     sports           soccer_epl
73  N56193     sports         football_nfl
74  N33435  lifestyle      lifestylefamily
75  N15236    finance  finance-real-estate
76  N44276      autos          autossports

                                              Content  article_distance  \
0   Michigan sends breakup tweet to Notre Dame as ...          0.198320
1   Three takeaways from Yankees' ALCS Game 5 vict...          0.216016
2   Robert Evans, 'Chinatown' Producer and Paramou...          0.246655
3   I Was An NBA Wife. Here's How It Affected My M...          0.256467
4   This Wedding Photo of a Canine Best Man Captur...          0.259769
..                                                ...               ...
72  How the Sounders won MLS Cup Mark, Jeremiah an...          1.000000
73  Cowboys have questionable red zone calls in lo...          1.000000
74  Four siblings, all veterans, celebrate Veteran...          1.000000
75  Only 1 World City Charges More Than NYC Per Fo...          1.000000
76                 Best Sports Car Deals for October           1.000000

    distance
0   0.159909
1   0.061615
2   0.274041
3   0.263025
4   0.281452
..       ...
72  0.196965
73  0.200861
74  0.261959
75  0.285905
76  0.253881

[77 rows x 6 columns]

In [24]:
collab_rec

,ID,Category,SubCategory,Content,article_distance,distance
0,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,0.198320,0.159909
1,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,0.216016,0.061615
2,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.274041
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263025
4,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259769,0.281452
...,...,...,...,...,...,...
72,N34418,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an...",1.000000,0.196965
73,N56193,sports,football_nfl,Cowboys have questionable red zone calls in lo...,1.000000,0.200861
74,N33435,lifestyle,lifestylefamily,"Four siblings, all veterans, celebrate Veteran...",1.000000,0.261959
75,N15236,finance,finance-real-estate,Only 1 World City Charges More Than NYC Per Fo...,1.000000,0.285905
76,N44276,autos,autossports,Best Sports Car Deals for October,1.000000,0.253881

In [25]:
collab_rec['mean_value'] = (collab_rec['article_distance'] + collab_rec['distance']) / 2

In [27]:
collab_rec['1/3'] = (collab_rec['article_distance']/3)*1 + (collab_rec['distance']/3)*2

In [29]:
collab_rec.columns =['ID', 'category', 'sub_category', 'content', 'collaborative_rec', 'content_rec', 'mean', 'two_one']

In [30]:
collab_rec

,ID,category,sub_category,content,collaborative_rec,content_rec,mean,two_one
0,N18445,sports,football_ncaa,Michigan sends breakup tweet to Notre Dame as ...,0.198320,0.159909,0.179114,0.172712
1,N42782,sports,baseball_mlb,Three takeaways from Yankees' ALCS Game 5 vict...,0.216016,0.061615,0.138816,0.113082
2,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.274041,0.260348,0.264912
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263025,0.259746,0.260839
4,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259769,0.281452,0.270611,0.274225
...,...,...,...,...,...,...,...,...
72,N34418,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an...",1.000000,0.196965,0.598482,0.464643
73,N56193,sports,football_nfl,Cowboys have questionable red zone calls in lo...,1.000000,0.200861,0.600430,0.467241
74,N33435,lifestyle,lifestylefamily,"Four siblings, all veterans, celebrate Veteran...",1.000000,0.261959,0.630980,0.507973
75,N15236,finance,finance-real-estate,Only 1 World City Charges More Than NYC Per Fo...,1.000000,0.285905,0.642952,0.523936
76,N44276,autos,autossports,Best Sports Car Deals for October,1.000000,0.253881,0.626941,0.502587

In [32]:
collab_rec.to_csv('evaluation/hybrid.csv', index= False)