In [22]:
# imports
import pandas as pd
import openai
from typing import List
import numpy as np
from openai.embeddings_utils import distances_from_embeddings, indices_of_nearest_neighbors_from_distances
from collections import Counter
import ast

In [23]:
openai.api_key = "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"

In [33]:
def print_hybrid_recommendations (user_id):
    collab_rec = pd.read_csv("collab_recommendations/" + user_id + "_collab.csv")
    content_rec = pd.read_csv("content_recommendations/" + user_id + "_cont.csv")
    # Create a dictionary mapping IDs to new column values from df2
    id_to_new_column = content_rec.set_index('ID')['distance'].to_dict()

    # Add the new column to df1 based on the mapping
    collab_rec['distance'] = collab_rec['ID'].map(id_to_new_column)
    collab_rec['mean_value'] = (collab_rec['article_distance'] + collab_rec['distance']) / 2
    collab_rec['1/3'] = (collab_rec['article_distance']/3)*1 + (collab_rec['distance']/3)*2
    collab_rec.columns =['ID', 'category', 'sub_category', 'content', 'collaborative_rec', 'content_rec', 'mean', 'two_one']
    
    return collab_rec

In [34]:
print_hybrid_recommendations("U13000")

,ID,category,sub_category,content,collaborative_rec,content_rec,mean,two_one
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.273961,0.260308,0.264859
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263150,0.259809,0.260922
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734,0.281452,0.270593,0.274213
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554,0.271511,0.267533,0.268859
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187,0.272487,0.269337,0.270387
...,...,...,...,...,...,...,...,...
69,N34418,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an...",1.000000,0.196913,0.598456,0.464608
70,N56193,sports,football_nfl,Cowboys have questionable red zone calls in lo...,1.000000,0.200812,0.600406,0.467208
71,N33435,lifestyle,lifestylefamily,"Four siblings, all veterans, celebrate Veteran...",1.000000,0.261971,0.630985,0.507980
72,N15236,finance,finance-real-estate,Only 1 World City Charges More Than NYC Per Fo...,1.000000,0.285905,0.642952,0.523936
73,N44276,autos,autossports,Best Sports Car Deals for October,1.000000,0.253881,0.626941,0.502587

Saving recommendations for each user

In [32]:
users = pd.read_csv("data_embeddings/users_emb_test.csv") #document with user interactions
# Assuming you have a DataFrame named 'users' with a 'User' column
users_list = users['User'].unique().tolist()

# Print the resulting list
print(users_list)

['U10045', 'U11306', 'U13000', 'U13740', 'U1376', 'U15141', 'U15363', 'U17841', 'U19722', 'U27024', 'U27804', 'U2935', 'U38865', 'U39029', 'U39222', 'U39703', 'U40466', 'U45798', 'U47761', 'U47892', 'U50562', 'U5286', 'U53231', 'U53276', 'U54128', 'U61875', 'U63162', 'U67565', 'U69950', 'U78244', 'U78954', 'U79199', 'U80798', 'U85394', 'U89744', 'U92093', 'U92486', 'U9306']

In [35]:
for i in users_list:
    recommendations = print_hybrid_recommendations(user_id = i)
    recommendations.to_csv('hybrid_recommendations/' + i + '_hybr.csv', index= False)