In [6]:
# imports
import pandas as pd
import openai
from typing import List
import numpy as np
from openai.embeddings_utils import distances_from_embeddings, indices_of_nearest_neighbors_from_distances
from collections import Counter
import ast

In [7]:
openai.api_key = "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"

In [13]:
collab_rec = pd.read_csv("collab_test.csv") #document with user interactions
collab_rec.head()

,ID,Category,SubCategory,Content,article_distance
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187

In [14]:
content_rec = pd.read_csv("content_test.csv") #document with user interactions
content_rec.head()

,ID,distance,Category,SubCategory,Content
0,N208,0.185793,sports,football_nfl,Five winners and five losers as the Dallas Cow...
1,N56061,0.186671,sports,football_nfl,9 things we learned from Sunday's games of Wee...
2,N10529,0.190395,sports,football_nfl,Week 10 Game Balls: Few Bright Spots in Colts ...
3,N34418,0.196913,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an..."
4,N56193,0.200812,sports,football_nfl,Cowboys have questionable red zone calls in lo...

In [15]:
# Create a dictionary mapping IDs to new column values from df2
id_to_new_column = content_rec.set_index('ID')['distance'].to_dict()

# Add the new column to df1 based on the mapping
collab_rec['distance'] = collab_rec['ID'].map(id_to_new_column)

print(collab_rec)

        ID   Category          SubCategory  \
0   N10414     movies            movienews
1   N53526     health               voices
2   N63302  lifestyle        lifestylebuzz
3   N55189         tv               tvnews
4   N45794       news            newscrime
..     ...        ...                  ...
69  N34418     sports           soccer_epl
70  N56193     sports         football_nfl
71  N33435  lifestyle      lifestylefamily
72  N15236    finance  finance-real-estate
73  N44276      autos          autossports

                                              Content  article_distance  \
0   Robert Evans, 'Chinatown' Producer and Paramou...          0.246655
1   I Was An NBA Wife. Here's How It Affected My M...          0.256467
2   This Wedding Photo of a Canine Best Man Captur...          0.259734
3   'Wheel Of Fortune' Guest Delivers Hilarious, O...          0.263554
4   Four flight attendants were arrested in Miami'...          0.266187
..                                                ...               ...
69  How the Sounders won MLS Cup Mark, Jeremiah an...          1.000000
70  Cowboys have questionable red zone calls in lo...          1.000000
71  Four siblings, all veterans, celebrate Veteran...          1.000000
72  Only 1 World City Charges More Than NYC Per Fo...          1.000000
73                 Best Sports Car Deals for October           1.000000

    distance
0   0.273961
1   0.263150
2   0.281452
3   0.271511
4   0.272487
..       ...
69  0.196913
70  0.200812
71  0.261971
72  0.285905
73  0.253881

[74 rows x 6 columns]

In [16]:
collab_rec

,ID,Category,SubCategory,Content,article_distance,distance
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.273961
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263150
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734,0.281452
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554,0.271511
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187,0.272487
...,...,...,...,...,...,...
69,N34418,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an...",1.000000,0.196913
70,N56193,sports,football_nfl,Cowboys have questionable red zone calls in lo...,1.000000,0.200812
71,N33435,lifestyle,lifestylefamily,"Four siblings, all veterans, celebrate Veteran...",1.000000,0.261971
72,N15236,finance,finance-real-estate,Only 1 World City Charges More Than NYC Per Fo...,1.000000,0.285905
73,N44276,autos,autossports,Best Sports Car Deals for October,1.000000,0.253881

In [17]:
collab_rec['mean_value'] = (collab_rec['article_distance'] + collab_rec['distance']) / 2

In [18]:
collab_rec['1/3'] = (collab_rec['article_distance']/3)*1 + (collab_rec['distance']/3)*2

In [19]:
collab_rec.columns =['ID', 'category', 'sub_category', 'content', 'collaborative_rec', 'content_rec', 'mean', 'two_one']

In [20]:
collab_rec

,ID,category,sub_category,content,collaborative_rec,content_rec,mean,two_one
0,N10414,movies,movienews,"Robert Evans, 'Chinatown' Producer and Paramou...",0.246655,0.273961,0.260308,0.264859
1,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,0.256467,0.263150,0.259809,0.260922
2,N63302,lifestyle,lifestylebuzz,This Wedding Photo of a Canine Best Man Captur...,0.259734,0.281452,0.270593,0.274213
3,N55189,tv,tvnews,"'Wheel Of Fortune' Guest Delivers Hilarious, O...",0.263554,0.271511,0.267533,0.268859
4,N45794,news,newscrime,Four flight attendants were arrested in Miami'...,0.266187,0.272487,0.269337,0.270387
...,...,...,...,...,...,...,...,...
69,N34418,sports,soccer_epl,"How the Sounders won MLS Cup Mark, Jeremiah an...",1.000000,0.196913,0.598456,0.464608
70,N56193,sports,football_nfl,Cowboys have questionable red zone calls in lo...,1.000000,0.200812,0.600406,0.467208
71,N33435,lifestyle,lifestylefamily,"Four siblings, all veterans, celebrate Veteran...",1.000000,0.261971,0.630985,0.507980
72,N15236,finance,finance-real-estate,Only 1 World City Charges More Than NYC Per Fo...,1.000000,0.285905,0.642952,0.523936
73,N44276,autos,autossports,Best Sports Car Deals for October,1.000000,0.253881,0.626941,0.502587

In [21]:
collab_rec.to_csv('hybrid_test.csv', index= False)